git+https://TOKEN@github.com/REPOSITORY_USER/store-users.git@master#egg=store-users
git+https://TOKEN@github.com/REPOSITORY_USER/store-products.git@master#egg=store-products
git+https://TOKEN@github.com/REPOSITORY_USER/store-tools.git@master#egg=store-tools