git+https://TOKEN@github.com/REPOSITORY_USER/store-users.git@refactor1_users#egg=store-users
git+https://TOKEN@github.com/REPOSITORY_USER/store-products.git@refactor1_products#egg=store-products
git+https://TOKEN@github.com/REPOSITORY_USER/store-tools.git@refactorv1#egg=store-tools